<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.daffy.wallpapersetter</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/daffy/workFiles/freelanceFiles/wallpapersetter/.venv/bin/python</string>
		<string>/Users/daffy/workFiles/freelanceFiles/wallpapersetter/wallpaper_setter.py</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/daffy/workFiles/freelanceFiles/wallpapersetter</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/daffy/Library/Logs/wallpapersetter.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/daffy/Library/Logs/wallpapersetter.err.log</string>
</dict>
</plist>
